# Fichiers temporaires Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environnement virtuel
venv/
.env

# Données brutes et nettoyées
data/raw/*
data/processed/*

# Garder les dossiers data visibles sur GitHub
!data/raw/.gitkeep
!data/processed/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db
